<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="jndi/hibernate/BASE-hibernate">
  <!--
			exemplo de conexão via jdbc sem dataSource do servidor de aplicação
			<property
			name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
			<property
			name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
			<property
			name="hibernate.connection.password">rh_defensoria</property>
			<property
			name="hibernate.connection.url">jdbc:oracle:thin:@10.25.0.6:1521:qcsdes01</property>
			<property
			name="hibernate.connection.username">rh_defensoria_novo</property>
		-->
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.autocommit">false</property>
  <property name="hibernate.format_sql">true</property>
  <!--
	exemplo de conexão com dataSource
  -->
  <property name="hibernate.connection.datasource">java:/SIQ-OracleDS</property>
  <mapping class="qcs.base.seguranca.Perfil"/>
  <mapping class="qcs.base.enderecamento.Bairro"/>
  <mapping class="qcs.base.enderecamento.Cidade"/>
  <mapping class="qcs.base.enderecamento.Logradouro"/>
  <mapping class="qcs.base.modulo.Funcionalidade"/>
  <mapping class="qcs.base.modulo.ModuloSistema"/>
  <mapping class="qcs.base.seguranca.PerfilFuncionalidade"/>
  <mapping class="qcs.base.seguranca.PerfilUsuario"/>
  <mapping class="qcs.base.seguranca.Usuario"/>
  <mapping class="qcs.base.pessoa.Pessoa"/>
  <mapping class="qcs.base.tabaux.TabelaAuxiliar"/>
  <mapping class="qcs.base.tabaux.ValorTabAux"/>
  
  <mapping class="qcs.base.negocio.Brinquedo"/>
  <mapping class="qcs.base.negocio.Catraca"/>
  <mapping class="qcs.base.negocio.Cliente"/>
  <mapping class="qcs.base.negocio.Dispositivo"/>
  <mapping class="qcs.base.negocio.Fila"/>
  <mapping class="qcs.base.negocio.HistoricoCliente"/>
  <mapping class="qcs.base.negocio.HistoricoClienteBrinquedo"/>
  <mapping class="qcs.base.negocio.StatusBrinquedo"/>
  <mapping class="qcs.base.negocio.StatusCliente"/>
  <mapping class="qcs.base.negocio.StatusDispositivo"/>
  <mapping class="qcs.base.negocio.TerminalConsulta"/>
  
  <!--
			<property
			name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
			<property
			name="hibernate.transaction.auto_close_session">false</property>
			<property
			name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
		-->
 </session-factory>
</hibernate-configuration>
